@{
 Layout = "_Layout";
}

<div class="container">
    <div class="jumbotron">
        <h1>DrAgOn TaLesSss</h1>
    </div>
    <form action="/story" method="post">
    <div class="form-group">
        <label for="color">Color:</label>
        <input id="color" name="color" class="form-control" type="text">
    </div>
    <div class="form-group">
        <label for="superlative">Superlative:</label>
        <input id="superlative" name="superlative" class="form-control" type="text">
    </div>
    <div class="form-group">
        <label for="adjective1">Adjective:</label>
        <input id="adjective1" name="adjective1" class="form-control" type="text">
    </div>
    <div class="form-group">
        <label for="body-parts">Body Parts:</label>
        <input id="body-parts" name="body-parts" class="form-control" type="text">
    </div>
    <div class="form-group">
        <label for="body-part">A Single Body Part:</label>
        <input id="body-part" name="body-part" class="form-control" type="text">
    </div>
    <div class="form-group">
        <label for="noun">Noun:</label>
        <input id="noun" name="noun" class="form-control" type="text">
    </div>
    <div class="form-group">
        <label for="animals">Animals:</label>
        <input id="animals" name="animals" class="form-control" type="text">
    </div>
    <div class="form-group">
        <label for="adjective2">Adjective:</label>
        <input id="adjective2" name="adjective2" class="form-control" type="text">
    </div>
    <div class="form-group">
        <label for="adjective3">Adjective:</label>
        <input id="adjective3" name="adjective3" class="form-control" type="text">
    </div>
    <div class="form-group">
        <label for="adjective4">Adjective:</label>
        <input id="adjective4" name="adjective4" class="form-control" type="text">
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-warning">Chase the Dragon</button>
    </div>

</div>
