<h1>DRAGONS</h1>
<p>
    The <span id="color"></span> Dragon is the <span id="superlative"></span> Dragon of all. It has <span id="adjective1"></span> <span id="body-parts"></span>, and a <span id="body-part"></span> shaped like a <span id="noun"></span>. It loves to eat <span id="animals"></span>, although it will feast on nearly anything. It is <span id="adjective2"></span> and <span id="adjective3"></span>. You must be <span id="adjective4"></span> around it, or you may end up as its meal!
</p>

<p>
    <img src="/img/eyes.gif">
</p>

<p>
    <a href="/">Make another tale about the draaagonnn~</a>
</p>
